body {
  padding: 0;
  margin: 0;
  font-family: Lato,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.top-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 35pt;
  line-height: 35pt;
  background-color: #342C38;
  margin-bottom: 30px;
  color: #BDBDBD;
  text-align: center;
}

.bar-user {
  font-size: 14px;
  padding: 0 0.5vw;
}

.bar-logo {
  font-size: 22px;
  font-weight: 100;
  padding: 0 1vw;
  padding-right: 7vw;
}

.bar-items {
  display: inline;
}

.bar-item {
  float: left;
  padding: 0 0.9vw;
  height: 33pt;
}

.bar-item:hover {
  color: #fff;
  background-color: #3C3844;
  cursor: pointer;
  transition: 0.3s ease;
}

.chosen-bar-item {
  border-bottom: 3px solid #41946E;
}

.bar-item-title {
  display: inline;
}

.bar-user:hover {
  color: #EFEFEF;
  cursor: pointer;
  transition: 0.2s ease;
}

.user-title {
  padding-right: 0.2vw;
}

.user-item {
  display: inline;
}

.container {
  margin-top: 3%;
}
