<div class="dashboard">
  <div class="dashboard-headline">
    Dashboard
  </div>
  <div class="dashboard-line">
    <div class="card-box">
      <div class="card">
        <div class="card-in red">
          <div class="card-in-items">
            <div class="card-in-icon left">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="card-in-text left">
              <p class="card-number">
                45
              </p>
              <span class="card-text">
                Users
              </span>
            </div>
          </div>
        </div>
        <div class="card-out red">
          <div class="card-out-items">
            <div class="card-out-2 out-left">
              <span class="fa fa-ellipsis-h fa-2x out-icon"></span>
              <span class="out-text">Manage Users</span>
            </div>
            <div class="card-out-2">
              <span class="fa fa-plus fa-2x out-icon"></span>
              <span class="out-text">Add a User</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-box">
      <div class="card">
        <div class="card-in green">
          <div class="card-in-items">
            <div class="card-in-icon left">
              <i class="fa fa-shopping-basket fa-5x"></i>
            </div>
            <div class="card-in-text left">
              <p class="card-number">
                15
              </p>
              <span class="card-text">
                Sandwiches
              </span>
            </div>
          </div>
        </div>
        <div class="card-out green">
          <div class="card-out-itemes fullheight">
            <div class="card-out-1">
              <span><i class="fa fa-ellipsis-h fa-2x single-out"></i></span>
              <span>Manage Sandwiches</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-box">
      <div class="card">
        <div class="card-in darkgery">
          <div class="card-in-items">
            <div class="card-in-icon left">
              <i class="fa fa-dollar fa-5x"></i>
            </div>
            <div class="card-in-text left">
              <p class="card-number">
                213
              </p>
              <span class="card-text">
                Sales
              </span>
            </div>
          </div>
        </div>
        <div class="card-out darkgery">
          <div class="card-out-itemes fullheight">
            <div class="card-out-1">
              <span><i class="fa fa-bar-chart fa-2x single-out"></i></span>
              <span>See all Transactions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-box">
      <div class="card">
        <div class="card-in blue">
          <div class="card-in-items">
            <div class="card-in-icon left">
              <i class="fa fa-remove fa-5x"></i>
            </div>
            <div class="card-in-text left">
              <p class="card-number">
                1
              </p>
              <span class="card-text">
                Remaining Eitan
              </span>
            </div>
          </div>
        </div>
        <div class="card-out blue">
          <div class="card-out-itemes fullheight">
            <div class="card-out-1">
              <span><i class="fa fa-cog fa-2x single-out"></i></span>
              <span>More to come..</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-shipments-graph">
    {{data}}
  </div>
</div>
